# Email settings
# Email automation
EMAIL_ADDRESS=your_hotmail_address@hotmail.com
EMAIL_RECEIVER=manager_email@gmail.com
EMAIL_CLIENT_ID=your_email_app_client_id
EMAIL_TOKEN_CACHE=.email_token_cache.json

# Power BI settings
POWERBI_REFRESH_ENABLED= true
POWERBI_TENANT_ID=your_tenant_id
POWERBI_CLIENT_ID=your_client_id
POWERBI_CLIENT_SECRET=your_client_secret
POWERBI_WORKSPACE_ID=your_workspace_id
POWERBI_DATASET_ID=your_dataset_id
POWERBI_REPORT_URL=your_report_url




